<div class="container">
    <div class="row">
    	<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-list-alt"></i>
                            </span>
                                <label class="control-label col-md-offset-12">Initial</label>
                        </a>
                    </li>
                        

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-paste"></i>
                            </span>
                                 <label class="control-label col-md-offset-12">Source</label>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-object-align-vertical"></i>
                            </span>
                                <label class="control-label col-md-offset-12">Operator</label>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Step 4">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-filter"></i>
                            </span>
                                <label class="control-label col-md-offset-12">Driver</label>
                        </a>
                    </li>

                      <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-share"></i>
                            </span>
                                <label class="control-label col-md-offset-12">OutPut</label>
                        </a>
                    </li>
                </ul>
            </div>

            
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        <!--configuracion pagina initial-->
                        <app-initial-rule-comp></app-initial-rule-comp>
                        <ul class="list-inline pull-right">
                                        <li><button type="button" (click)="lanzarclose()" class="btn btn-default prev-step">Cancelar</button></li>
                                        <li><button type="button" (click)="selectTab()" class="btn btn-primary next-step">Next</button></li>
                                    </ul>  
                     </div>
                    <!--configuracion SOURCE-->
                    <div class="tab-pane" role="tabpanel" id="step2">
                        <app-source-comp></app-source-comp>
                        <ul class="list-inline pull-right">
                                            <li><button type="button" (click)="lanzarclose()" class="btn btn-default prev-step">Cancelar</button></li>
                                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                            <li><button type="button" class="btn btn-primary btn-info-full next-step">Next</button></li>
                                        </ul>
                    </div>
                    <!--configuracion OPERATOR-->
                    <div class="tab-pane" role="tabpanel" id="step3">
                        <app-operator-comp></app-operator-comp>
                         <ul class="list-inline pull-right">
                                            <li><button type="button" (click)="lanzarclose()" class="btn btn-default prev-step">Cancelar</button></li>
                                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                            <li><button type="button" class="btn btn-primary btn-info-full next-step">Next</button></li>
                                        </ul>
                    </div>
                    <!--configuracion DRIVER-->
                    <div class="tab-pane" role="tabpanel" id="step4">
                        <app-driver-comp></app-driver-comp>
                         <ul class="list-inline pull-right">
                                            <li><button type="button" (click)="lanzarclose()" class="btn btn-default prev-step">Cancelar</button></li>
                                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                            <li><button type="button" class="btn btn-primary btn-info-full next-step">Next</button></li>
                                        </ul>
                    </div>
                   <!--configuracion OUTPUT-->
                    <div class="tab-pane" role="tabpanel" id="complete">
                        <app-output-comp></app-output-comp>
                         <ul class="list-inline pull-right">
                                            <li><button type="button" (click)="lanzarclose()" class="btn btn-default prev-step">Cancelar</button></li>
                                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                                            <li><button type="button" class="btn btn-primary btn-info-full next-step">Save</button></li>
                                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            
        </div>
    </section>
   </div>
</div>

