.step55 {
    border :1px solid #eee;
    border-radius:5px;
    padding: 0 1px 0 1px;
    margin-bottom:5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.step55 .panel {
    padding: 0;
    padding-top: 0px;
}

.form-control{
    padding: 0;
    height: 22px;
    border-radius:3px;
    padding-left: 5px;
    font-size: 13px;
}

.btn-xs {
    height: 22px;
    width: 22px;    
}

.btn-sm{
    height: 22px;
    padding: 2px;
    
}

.panel .panel-heading {
    height: 20px;
    padding:0;
    font-size: 13px;
    padding-left: 10px;
    font-weight: bold;
}

.panel .panel-body {
    padding: 3px;
}

.panel .panel-body .box .row .control-label{
    padding: 2 2px 2 2px;
    padding-left: 15px;
    padding-top: 1px;
}

.panel .panel-body .box .row {
    padding: 2 2px 2 2px;
    padding-left: 48px;
    padding-top: 2px;
}

.panel {
    margin-top: 3px; 
    margin-bottom: 3px; 
    padding-top: 3px; 
    padding-bottom:3px;
}

.nav .nav-tabs {
    margin-top: 1px; 
    margin-bottom: 1px; 
    padding-top: 1px; 
    padding-bottom:1px;
    padding: 3px;
 
}

.tab-credit{
   height: 25px;
   padding: 3px;
   font-weight: bold;
   font-size: 13px;
}
                                                
.panel .table{
    margin-top: 3px; 
    margin-bottom: 3px; 
    padding-top: 3px; 
    padding-bottom:3px;
}

table th, table td{
        padding: 1px;
    }

.tab-tab-panecontent .tab-pane{
    padding: 0;
}

.dropboxDimension:hover, .dropboxDimension:focus, .dropboxDimension:active {
    background:  white;
}