<div class="step1">
                                <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            Allocation Rule Definition
                                        </div>
                                        <div class="panel-body">
                                            
                                                
                                                   <div class="col-sm-6 box" style="display: block;">
                                                            <div class="row">
                                                                <label class="control-label col-sm-3">Rule Name</label>
                                                                <div class="col-sm-6">    
                                                                    <input type="text" class="form-control" id="input-id-3" placeholder="Rule Name">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <label class="control-label col-sm-3">Rule Description</label>
                                                                    <div class="col-sm-8">
                                                                        <input type="text" class="form-control" id="input-id-4" placeholder="Rule Description">
                                                                    </div>
                                                            </div>
                                            
                                                    </div>
                                                    <div class="col-sm-6 box" style="display: block;">
                                                        <div class="row">
                                                            <label class="col-sm-3 control-label" for="folder">Folder Name</label>
                                                                    <div class="col-sm-6">
                                                                        <select id="folder" name="folder" class="form-control btn-default">
                                                                        <option value="1">Carga</option>
                                                                        <option value="2">Procesamiento</option>
                                                                        </select>
                                                                    </div>
                                                        </div>
                                                    </div>
                                                
                                            
                                        </div>
                                </div>
                                  <div class="panel panel-primary">
                                        <div class="panel-heading panel-heading-xs">
                                            Allocation Type
                                        </div>
                                        <div class="panel-body panel-body-xs">
                                            <table id="example" class="table" cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th class="col-sm-1">Allocation Type</th>
                                                <th class="col-sm-6">Description</th>
                                            </tr>
                                            </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="opciones" id="opciones_1" value="opcion_1" checked>
                                                            Constant
                                                        </td>
                                                        <td>
                                                            Allocates a constant value to a destination.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" checked="checked" name="opciones" id="opciones_1" value="opcion_1" >
                                                            Static Driver
                                                        </td>
                                                        <td>
                                                            Performs simple factor calculations.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="opciones" id="opciones_1" value="opcion_1" >
                                                            Leaf
                                                        </td>
                                                        <td>
                                                            Performs mathematical operations between two groups of data in the ledger table where the two sets differ by the value in a single selected dimension. The source and the By Leaf rows match exactly except for the value in a single dimension.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="opciones" id="opciones_1" value="opcion_1" >
                                                            Field
                                                        </td>
                                                        <td>
                                                            Performs mathematical operations across a row between two or more columns in Instrument or Transaction tables.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="opciones" id="opciones_1" value="opcion_1" >
                                                            Dynamic Driver
                                                        </td>
                                                        <td>
                                                            Distributes a balance amount specified by the initial data source condition to a set of specified target rows on a percent or percent-to-total basis.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="opciones" id="opciones_1" value="opcion_1" >
                                                            Static Driver Table
                                                        </td>
                                                        <td>
                                                            Uses the dimensionality of the source rows to join with data in a table or set of values. These rules perform either a mathematical operation with the returned value or a distribution and dimensional reclassification of the results.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" name="opciones" id="opciones_1" value="opcion_1" >
                                                            Lookup Driver Table
                                                        </td>
                                                        <td>
                                                            Processes source data by adding, multiplying, subtracting, or dividing by one or more statistics or lookup values stored in a user-defined lookup table.
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                </div>
                                    
                    </div>