
<div class="panel-info class">
  <!-- Default panel contents -->
  <div class="panel-heading" ><h3>Create Member</h3></div>
  <div class="panel-body">
 <form class="form-horizontal">
<div  class="form-group">
    <label class="control-label col-sm-3" for="Code">Numeric Code</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Numeric Code" [(ngModel)]="id" name="id">
    </div> 
</div> 

<div class="form-group">
    <label class="control-label col-sm-3" for="Alpha">Alphanumeric Code</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Alphanumeric Code" aria-describedby="sizing-addon2" [(ngModel)]="id_alfa" name="id_alfa">
    </div>
</div> 
    
<div class="form-group">
    <label class="control-label col-sm-3" for="Name">Name</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="Name" aria-describedby="sizing-addon2"  [(ngModel)]="name" name="Name">
    </div>
</div> 
<div class="form-group">
    <label class="control-label col-sm-3" for="Desc">Description</label>
    <div class="col-sm-7">
        <input type="text" class="form-control" placeholder="Description" aria-describedby="sizing-addon2"  [(ngModel)]="description" name="Description">
    </div>
</div> 
<div class="form-group">
    <form class="form-vertical"> 
        <div class="btn-group">
            <button type="button" class="btn btn-success">Enabled</button>
            <button type="button" class="btn btn-success">Disabled</button>
        </div>
    </form>
</div>
<div class="form-group ">
    <form class="form-vertical"> 
        <div class="btn-group ">
            <button type="button" class="btn btn-success">Is Leaf</button>
            <button type="button" class="btn btn-success">Is Node</button>
        </div>
    </form>
</div>
<div class="form-group">
    <button type="button" class="btn btn-primary btn-md" (click)="save()" >Save</button>
    <button type="button" class="btn btn-primary btn-md" (click)="cancel()" >Cancel</button>
</div> 
</form>
  <!-- Table -->
  <table class="table">

  </table>
</div>

Usuarios
<p *ngFor="let names of users">{{names}}</p>