
Crear un miembro
<div> Numeric Code: <input type="text" [(ngModel)]="id" name="id"></div> 
<div> Alphanumeric Code: <input type="text" [(ngModel)]="id_alfa" name="id_alfa"></div> 
<div> Name: <input type="text" [(ngModel)]="name" name="Name"></div> 
<div> Description: <input type="text" [(ngModel)]="description" name="Description"></div> 
<div>Enabled: <input type="radio" name="enabled" [(ngModel)]="enabled" value="Yes"> Yes
<input type="radio" name="enabled" [(ngModel)]="enabled" value="No"> No</div> 
<div>Is Leaf: <input type="radio" name="isLeaf" [(ngModel)]="isLeaf" value="Yes"> Yes
<input type="radio" name="isLeaf" [(ngModel)]="isLeaf" value="No"> No</div> 
<div>
<button (click)="save()">Save</button>
</div> 

<h1>Usuarios
<p *ngFor="let names of users">{{names}}</p>