.panel-info > .panel-heading {
  color: white;
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}
.panel-info > .panel-body{
  background-color: white;
  border-color: white;
  font-size: 15px;

}
.btn-default:hover, .btn-default:active, .btn-default:focus {
  color: #ffffff !important;
  background-color: seagreen !important;
  border-color: #494F57 !important;
}