<div class="memberPanel" id="searchMember" #searchMember *ngIf="SearchMemderbuttonWasClicked">
    
                                <div class="panel panel-default">
                                        <div class="panel-heading color-one">
                                            Dimension
                                        </div>
                                        <div class="panel-body color-cuerpo">
                                                 <div class="col-sm-6 box" style="display: block;">
                                                                <div class="row">
                                                                    <label class="col-sm-5 control-label" for="folder">Dimension</label>
                                                                            <div class="col-sm-6">
                                                                                <select id="folder" name="folder" class="form-control btn-default">
                                                                                <option value="1">Banking</option>
                                                                                <option value="2">Financial Element</option>
                                                                                <option value="3">Organizational Unit</option>
                                                                                <option value="4">Product</option>
                                                                                </select>
                                                                            </div>
                                                                </div>
                                                    </div>
                                        </div>
                                </div>
                                <div class="panel panel-default">
                                        <div class="panel-heading color-one">
                                            Search
                                            <div class="form-group pull-right">
                                                <button type="button" class="boton btn btn-default btn-xs color-search glyphicon glyphicon-search" (click)="SearchMember()" ></button>
                                                <button type="button" class="boton btn btn-default btn-xs color-reset glyphicon glyphicon-refresh " (click)="RefreshMember()" ></button>

                                            </div>
                                        </div>
                                        <div class="panel-body color-cuerpo">
                                                    <div class="col-sm-6 box">
                                                          <div class="row">
                                                                 <label class="control-label color-campo col-sm-5">Alphanumeric Code</label>
                                                                  <div class="col-sm-6">    
                                                                      <input type="text" class="form-control" id="input-id-3" placeholder="Alphanumeric Code">
                                                                  </div>
                                                              </div>
                                                          <div class="row">
                                                                 <label class="control-label color-campo col-sm-5">Name</label>
                                                                  <div class="col-sm-6">    
                                                                      <input type="text" class="form-control" id="input-id-3" placeholder="Name">
                                                                  </div>
                                                              </div>
                                                            <div class="row">
                                                                 <label class="control-label color-campo col-sm-5">Enabled</label>
                                                                    <div class="col-sm-6">
                                                                        <input checked data-toggle="toggle" type="checkbox"> 
                                                                    </div>
                                                               </div>
                                                             <!-- <div class="row">
                                                                    <label class="col-sm-5 control-label" for="folder">Attribute Name</label>
                                                                            <div class="col-sm-6">
                                                                                <select id="folder" name="folder" class="form-control btn-default">
                                                                                <option value="1">Banking</option>
                                                                                <option value="2">Financial Element</option>
                                                                                <option value="3">Organizational Unit</option>
                                                                                <option value="4">Product</option>
                                                                                </select>
                                                                            </div>
                                                                </div>-->
                                                    </div>
                                                    <div class="col-sm-6 box">
                                                              <div class="row">
                                                                  <label class="control-label color-campo col-sm-5">Numeric Code</label>
                                                                      <div class="col-sm-6">
                                                                          <input type="text" class="form-control" id="input-id-4" placeholder="Numeric Code">
                                                                      </div>
                                                              </div>
                                                              <div class="row">
                                                                 <label class="control-label color-campo col-sm-5">Description</label>
                                                                  <div class="col-sm-6">    
                                                                      <input type="text" class="form-control" id="input-id-3" placeholder="Description">
                                                                  </div>
                                                              </div>
                                                              <div class="row">
                                                                    <label class="control-label color-campo col-sm-5">Member Type</label>
                                                                    <div class="btn-group col-sm-6">
                                                                        <button type="button" class="btn btn-default btn-xs">Is Leaf</button>
                                                                        <button type="button" class="btn btn-default btn-xs">Is Node</button>
                                                                    </div>
                                                                
                                                              </div>
                                                             <!-- <div class="row">
                                                                 <label class="control-label col-sm-5">Attribute Value</label>
                                                                  <div class="col-sm-6">    
                                                                      <input type="text" class="form-control" id="input-id-3" placeholder="Attribute Name">
                                                                  </div>
                                                              </div>-->
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="panel panel-default">
                                        <div class="panel-heading color-one">
                                            Dimension Members
                                            <div class="form-group pull-right">
                                                <button type="button" class="btn btn-default color-plus btn-xs glyphicon glyphicon-plus" (click)="setButtonClicked(true)" ></button>
                                                <button type="button" class="btn btn-default color-view btn-xs glyphicon glyphicon-zoom-in" (click)="SearchMember()" ></button>
                                                <button type="button" class="btn btn-default btn-xs color-edit glyphicon glyphicon-pencil" (click)="EditMember()" ></button>
                                                <button type="button" class="btn btn-default btn-xs color-delete glyphicon glyphicon-trash" (click)="RemoveMember()" ></button>
                                            </div>
                                        </div>
                                        <div class="panel-body panel-body-xs color-cuerpo">
                                                    <table  id="tableMembers" 
                                                            class="table table-striped table-bordered" 
                                                            cellspacing="0" 
                                                            width="100%"  
                                                            data-pagination="true"
                                                            >
                                                        <tr>
                                                            <th data-field="select" class="col-sm-1" data-checkbox="true"></th>
                                                            <th data-field="alphaCode" class="col-sm-2">Alphanumeric Code</th>
                                                            <th data-field="numericCode" class="col-sm-2">Numeric Code</th>
                                                            <th data-field="name"class="col-sm-2">Name</th>
                                                            <th data-field="isLeaf" class="col-sm-2">Is Leaf</th>
                                                        </tr>
                                                       
                                                             <tr template="ngFor let member of members" >
                                                                <td></td>
                                                                <td>{{member.id_alfa}}</td>
                                                                <td>{{member.id_code}}</td>
                                                                <td>{{member.name}}</td>
                                                                <td>{{member.if_lead}}</td>
                                                             </tr>
                                                     </table>
                                                </div>
                                        </div>
                        
</div>
  
<div class="memberPanel" id="searchMember" #searchMember *ngIf="CreateMemderbuttonWasClicked">

                                <div class="panel panel-default">
                                        <div class="panel-heading color-one">
                                            Dimension
                                        </div>
                                        <div class="panel-body color-cuerpo">
                                                 
                                                                <div class="col-sm-6 box" style="display: block;">
                                                                    <label class="col-sm-4 control-label" for="folder">Dimension</label>
                                                                            <div class="col-sm-6">
                                                                                <select id="folder" name="folder" class="form-control btn-default">
                                                                                <option value="1">Banking</option>
                                                                                <option value="2">Financial Element</option>
                                                                                <option value="3">Organizational Unit</option>
                                                                                <option value="4">Product</option>
                                                                                </select>
                                                                            </div>
                                                                </div>
                                                    
                                        </div>
                                </div>

                                
                                <div class="panel panel-default col-sm-6 color-medio-one">
                                        <div class="panel-heading color-one">
                                            Member details
                                         </div>
                                        <div class="panel-body color-cuerpo">
                                                    
                                                          <div class="row">
                                                                 <label class="control-label color-campo col-sm-5">Alphanumeric Code</label>
                                                                  <div class="col-sm-6">    
                                                                      <input type="text" class="form-control" id="input-id-3" placeholder="Alphanumeric Code">
                                                                  </div>
                                                              </div>
                                                              <div class="row">
                                                                  <label class="control-label color-campo col-sm-5" required>Numeric Code</label>
                                                                      <div class="col-sm-6">
                                                                          <input type="text" class="form-control" id="input-id-4" placeholder="Numeric Code" required>
                                                                      </div>
                                                              </div>
                                                          <div class="row">
                                                                 <label class="control-label color-campo col-sm-5">Name</label>
                                                                  <div class="col-sm-6">    
                                                                      <input type="text" class="form-control" id="input-id-3" placeholder="Name">
                                                                  </div>
                                                              </div>
                                                              <div class="row">
                                                                 <label class="control-label color-campo col-sm-5">Description</label>
                                                                  <div class="col-sm-6">    
                                                                      <input type="text" rows="3" class="form-control" id="input-id-3" placeholder="Description">
                                                                  </div>
                                                              </div>
                                                            <div class="row">
                                                                 <label class="control-label color-campo col-sm-5">Enabled</label>
                                                                    <div class="col-sm-6">
                                                                        <input checked data-toggle="toggle" type="checkbox"> 
                                                                    </div>
                                                               </div>
                                                         
                                                              <div class="row">
                                                                    <label class="control-label color-campo col-sm-5">Member Type</label>
                                                                    <div class="btn-group col-sm-6">
                                                                        <button type="button" class="btn btn-default btn-xs">Is Leaf</button>
                                                                        <button type="button" class="btn btn-default btn-xs">Is Node</button>
                                                                    </div>
                                                                
                                                              </div>
                                                        
                                                    
                                        </div>
                                </div>

                                        

                                        <div class="panel panel-default col-sm-6 color-medio-one">
                                        <div class="panel-heading color-one">
                                            Member Attributes
                                            
                                        </div>
                                        <div class="panel-body panel-body-xs color-cuerpo">
                                                     <table  id="tableMembers" 
                                                            class="table table-striped table-bordered" 
                                                            cellspacing="0" 
                                                            width="100%"  
                                                            data-pagination="true"
                                                            >
                                                        <tr>
                                                            <th data-field="attribute" class="col-sm-2">Attribute</th>
                                                            <th data-field="value" class="col-sm-2">Value</th>
                                                        </tr>
                                                       
                                                             <tr template="ngFor let member of members" >
                                                                <td>{{member.id_alfa}}</td>
                                                                <td>{{member.id_code}}</td>
                                                             </tr>
                                                     </table>
                                                </div>
                                        </div>
                  <div class="col-offset-6 ">
               <ul class="list-inline  centered">
                                        <li><button type="button" class="btn-sm btn-primary ">Save</button></li>
                                        <li><button type="button" class="btn-sm btn-default" (click)="setButtonClicked(false)">Cancelar</button></li>
                                    </ul>                          
                  </div>
                        
</div>

  
