<div class="memberPanel">
    
                                <div class="panel panel-success">
                                        <div class="panel-heading">
                                            Dimension
                                        </div>
                                        <div class="panel-body">
                                                 <div class="col-sm-6 box" style="display: block;">
                                                                <div class="row">
                                                                    <label class="col-sm-5 control-label" for="folder">Dimension</label>
                                                                            <div class="col-sm-6">
                                                                                <select id="folder" name="folder" class="form-control btn-default">
                                                                                <option value="1">Banking</option>
                                                                                <option value="2">Financial Element</option>
                                                                                <option value="3">Organizational Unit</option>
                                                                                <option value="4">Product</option>
                                                                                </select>
                                                                            </div>
                                                                </div>
                                                    </div>
                                        </div>
                                </div>
                                <div class="panel panel-success">
                                        <div class="panel-heading panel-heading-xs">
                                            Search
                                            <div class="form-group pull-right">
                                                <button type="button" class="btn btn-default btn-sm glyphicon glyphicon-search" (click)="SearchMember()" ></button>
                                                <button type="button" class="btn btn-default btn-sm glyphicon glyphicon-refresh " (click)="RefreshMember()" ></button>
                                            </div>
                                        </div>
                                        <div class="panel-body panel-body-xs">
                                                    <div class="col-sm-6 box" style="display: block;">
                                                          <div class="row">
                                                                 <label class="control-label col-sm-5">Alphanumeric Code</label>
                                                                  <div class="col-sm-6">    
                                                                      <input type="text" class="form-control" id="input-id-3" placeholder="Alphanumeric Code">
                                                                  </div>
                                                              </div>
                                                          <div class="row">
                                                                 <label class="control-label col-sm-5">Name</label>
                                                                  <div class="col-sm-6">    
                                                                      <input type="text" class="form-control" id="input-id-3" placeholder="Name">
                                                                  </div>
                                                              </div>
                                                            <div class="row">
                                                                 <label class="control-label col-sm-5">Enabled</label>
                                                                    <div class="col-sm-6">
                                                                        <input checked data-toggle="toggle" type="checkbox"> 
                                                                    </div>
                                                               </div>
                                                             <!-- <div class="row">
                                                                    <label class="col-sm-5 control-label" for="folder">Attribute Name</label>
                                                                            <div class="col-sm-6">
                                                                                <select id="folder" name="folder" class="form-control btn-default">
                                                                                <option value="1">Banking</option>
                                                                                <option value="2">Financial Element</option>
                                                                                <option value="3">Organizational Unit</option>
                                                                                <option value="4">Product</option>
                                                                                </select>
                                                                            </div>
                                                                </div>-->
                                                    </div>
                                                    <div class="col-sm-6 box" style="display: block;">
                                                              <div class="row">
                                                                  <label class="control-label col-sm-5">Numeric Code</label>
                                                                      <div class="col-sm-6">
                                                                          <input type="text" class="form-control" id="input-id-4" placeholder="Numeric Code">
                                                                      </div>
                                                              </div>
                                                              <div class="row">
                                                                 <label class="control-label col-sm-5">Description</label>
                                                                  <div class="col-sm-6">    
                                                                      <input type="text" class="form-control" id="input-id-3" placeholder="Description">
                                                                  </div>
                                                              </div>
                                                              <div class="row">
                                                                    <label class="control-label col-sm-5">Member Type</label>
                                                                    <div class="btn-group col-sm-6">
                                                                        <button type="button" class="btn btn-default btn-sm">Is Leaf</button>
                                                                        <button type="button" class="btn btn-default btn-sm">Is Node</button>
                                                                    </div>
                                                                
                                                              </div>
                                                             <!-- <div class="row">
                                                                 <label class="control-label col-sm-5">Attribute Value</label>
                                                                  <div class="col-sm-6">    
                                                                      <input type="text" class="form-control" id="input-id-3" placeholder="Attribute Name">
                                                                  </div>
                                                              </div>-->
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="panel panel-success">
                                        <div class="panel-heading panel-heading-xs">
                                            Dimension Members
                                        </div>
                                        <div class="panel-body panel-body-xs">
                                                    <div class="col-sm-6 box" style="display: block;">
                                                        <div class="row">
                                                            <label class="col-sm-3 control-label" for="folder">Arithmetic Oper</label>
                                                                    <div class="col-sm-6">
                                                                        <select id="folder" name="folder" class="form-control btn-default">
                                                                        <option value="1">*</option>
                                                                        <option value="2">/</option>
                                                                        </select>
                                                                    </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                        
</div>
  
