.app-data-management-comp {
  color: white;
  background-color: white;
  border-color: cornflowerblue;
  font-size: 13px;
}
.container{
    background-color: white;
    /*width: 90%;*/
}
.menuMain{
    width: 22%;
}
/*.color-one{
    background-color: grey;
    color: white;
}
*/
/*.color-two{
 background-color: #79aec8;
    color: #417690;
}*/
.color-prefe{
     background-color: #337ab7;
    color: white;

}
/*.panel{

}*/

body{margin-top:50px;}
.glyphicon { margin-right:5px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

.container{
    padding-left: 0px 
}

.containermain{
    padding: 0px ;
    width: 75.3%;
    /*padding-left: 5px;*/
}

.row{
    padding:0px;
}

.btn-group-vertical > button{
    margin-bottom:0px;
    border-radius:0px !important;
}

.table {
    margin-bottom:0px;
    border-radius:0px !important;
}

.btn {
    background-color: white; /* Green */
    border: none;
    /*color: #428bca;*/
    padding: 10px 40px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.btn:hover {
    background-color: transparent; /* Green */
    border: none;
    /*color: #428bca;*/
    padding: 10px 40px;
    padding-right: 0px;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.btn:focus {
  outline: none;
  font-weight: bold;
  padding-right: 0px;
}

.table tr{
    padding-right: 0px;
}

.table td{
    padding-right: 0px;
}

.table{
    cursor: pointer;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
    padding-right: 0px;
}