                            <div class="step22">
                                
                                <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            Allocation Rule Definition
                                        </div>
                                        <div class="panel-body">
                                                    <div class="col-sm-6 box" style="display: block;">
                                                            <div class="row">
                                                                <label class="control-label col-sm-3">Rule Name</label>
                                                                <div class="col-sm-6">    
                                                                    <input type="text" class="form-control" id="input-id-3" placeholder="Rule Name">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <label class="control-label col-sm-3">Rule Description</label>
                                                                    <div class="col-sm-8">
                                                                        <input type="text" class="form-control" id="input-id-4" placeholder="Rule Description">
                                                                    </div>
                                                            </div>
                                            
                                                    </div>
                                                    <div class="col-sm-6 box" style="display: block;">
                                                        <div class="row">
                                                            <label class="col-sm-3 control-label" for="folder">Folder Name</label>
                                                                    <div class="col-sm-6">
                                                                        <select id="folder" name="folder" class="form-control btn-default dropboxDimension">
                                                                        <option value="1">Carga</option>
                                                                        <option value="2">Procesamiento</option>
                                                                        </select>
                                                                    </div>
                                                        </div>
                                                    </div>
                                                
                                            
                                        </div>
                                </div>
                                  <div class="panel panel-primary">
                                        <div class="panel-heading panel-heading-xs">
                                            For
                                        </div>
                                        <div class="panel-body panel-body-xs">
                                           
                                                    <div class="col-sm-6 box" style="display: block;">
                                                            <div class="row">
                                                        
                                                            <label class="col-sm-3" for="folder">Table Name</label>
                                                                <div class="col-sm-6">
                                                                    <select id="folder" name="tableName" class="form-control btn-default col-sm-4  dropboxDimension">
                                                                    <option value="1">Ledger Stat</option>
                                                                    <option value="2">Credit Card</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                             <div class="row">
                                                            <label class="col-sm-3" for="folder">Column Name</label>
                                                                <div class="col-sm-6">
                                                                    <select id="folder" name="ColumnName" class="form-control btn-default col-sm-4  dropboxDimension">
                                                                    <option value="1">Transfer Rate</option>
                                                                    <option value="2">Amount</option>
                                                                    </select>
                                                                </div>
                                                             </div>
                                                    
                                                    </div>
                                                    <div class="col-sm-6 box" style="display: block;">
                                                            <div class="row">
                                                                <label class="col-sm-3" for="folder">Column/Expression</label>
                                                                <div class="btn-group col-sm-6">
                                                                    <button type="button" checked="checked" class="buttonIsLeaf btn btn-default btn-sm">Column Name</button>
                                                                    <button type="button" class="buttonIsLeaf btn btn-default btn-sm">Expression</button>
                                                                </div>
                                                            </div>
                                                    </div>
                                                        
                                                </div>
                                                </div>
                                            

                                 

                                  <div class="panel panel-primary">
                                        <div class="panel-heading">
                                           Allocation Source
                                        </div>
                                        <div class="panel-body">
                                             <table class="table">
                                                <thead><tr><th class="col-sm-2">Dimension</th><th class="col-sm-4">Value</th><th class="col-sm-6">Description</th></tr></thead>
                                                <tbody class="row">
                                                <tr><td>Financial Element</td><td>
                                                                    
                                                                        <div class="input-group  col-sm-8">
                                                                            <select id="folder" name="ColumnName" class="form-control btn-default dropboxDimension">
                                                                                <option value="1">3080910</option>
                                                                                <option value="2">3080911</option>
                                                                                <option value="2">ALL</option>
                                                                            </select>
                                                                        <span class="input-group-btn">
                                                                            <button class="form-control btn-xs btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                                                        </span>
                                                                        </div>
                                                                   
                                                </td><td>Financial Element For Leaf. 3080910: Gasto Corporativo 80910</td></tr>
                                                <tr><td>Organizational Unit</td><td>
                                                                   
                                                                     <div class="input-group  col-sm-8">
                                                                            <select id="folder" name="ColumnName" class="form-control btn-default dropboxDimension">
                                                                                <option value="1">ALL</option>
                                                                                <option value="2">3080911</option>
                                                                                <option value="2">3080912</option>
                                                                            </select>
                                                                        <span class="input-group-btn">
                                                                            <button class="form-control btn-xs btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                                                        </span>
                                                                        </div>
                                                </td><td>ALL</td></tr>
                                                <tr><td>General Ledger Account</td><td>
                                                                    <div class="input-group  col-sm-8">
                                                                            <select id="folder" name="ColumnName" class="form-control btn-default dropboxDimension">
                                                                                <option value="1">ALL</option>
                                                                                <option value="2">3080911</option>
                                                                                <option value="2">3080912</option>
                                                                            </select>
                                                                        <span class="input-group-btn">
                                                                            <button class="form-control btn-xs btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                                                        </span>
                                                                        </div>
                                                </td><td>ALL</td></tr>
                                                <tr><td>Product</td><td>
                                                                    <div class="input-group  col-sm-8">
                                                                            <select id="folder" name="ColumnName" class="form-control btn-default dropboxDimension">
                                                                                <option value="1">ALL</option>
                                                                                <option value="2">3080911</option>
                                                                                <option value="2">3080912</option>
                                                                            </select>
                                                                        <span class="input-group-btn">
                                                                            <button class="form-control btn-xs btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                                                        </span>
                                                                        </div>
                                                </td><td>ALL</td></tr>
                                                <tr><td>Customer</td><td>
                                                                   <div class="input-group  col-sm-8">
                                                                            <select id="folder" name="ColumnName" class="form-control btn-default dropboxDimension">
                                                                                <option value="1">ALL</option>
                                                                                <option value="2">3080911</option>
                                                                                <option value="2">3080912</option>
                                                                            </select>
                                                                        <span class="input-group-btn">
                                                                            <button class="form-control btn-xs btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                                                        </span>
                                                                        </div>
                                                </td><td>ALL</td></tr>
                                                <tr><td>Currency</td><td>
                                                                    <div class="input-group  col-sm-8">
                                                                            <select id="folder" name="ColumnName" class="form-control btn-default dropboxDimension">
                                                                                <option value="1">ALL</option>
                                                                                <option value="2">3080911</option>
                                                                                <option value="2">3080912</option>
                                                                            </select>
                                                                        <span class="input-group-btn">
                                                                            <button class="form-control btn-xs btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                                                        </span>
                                                                        </div>
                                                </td><td>MXN</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                  </div>

                                  <div class="panel panel-primary">
                                        <div class="panel-heading panel-heading-xs">
                                            Other Filters
                                        </div>
                                        <div class="panel-body panel-body-xs">
                                                    <div class="col-sm-7 box" style="display: block;">
                                                            <div class="row">
                                                                <label class="control-label col-sm-3">Filter Type</label>
                                                                <div class="control-label ">
                                                                    <label class="radio-inline">
                                                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> No Filter
                                                                    </label>
                                                                    <label class="radio-inline">
                                                                    <input type="radio" checked="checked" name="inlineRadioOptions" id="inlineRadio2" value="option2">Data Filter
                                                                    </label>
                                                                    <label class="radio-inline">
                                                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Group Filter
                                                                    </label>
                                                                    <label class="radio-inline">
                                                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">Attribute Filter
                                                                    </label>
                                                                </div>
                                                            </div>
                                                    </div>
                                                    <div class="col-sm-6 box" style="display: block;">
                                                        <div class="row">
                                                            <label class="col-sm-3 control-label" for="folder">Folder Name</label>
                                                                    <div class="col-sm-6">
                                                                        <select id="folder" name="folder" class="form-control btn-default  dropboxDimension">
                                                                        <option value="1">Carga</option>
                                                                        <option value="2">Procesamiento</option>
                                                                        </select>
                                                                    </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 box" style="display: block;">
                                                        <div class="row">
                                                            <label class="col-sm-3 control-label" for="folder">Filter Name</label>
                                                                    <div class="col-sm-6">
                                                                        <select id="folder" name="folder" class="form-control btn-default dropboxDimension">
                                                                        <option value="1">Filter Financial Element</option>
                                                                        <option value="2">Filter Organizational Unit</option>
                                                                        </select>
                                                                    </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                  
                                        
                        </div>