

<div id="menu">
    <app-main-comp></app-main-comp>
</div>
<!-- <div id="footer" >
    <app-foot-comp></app-foot-comp>
</div>-->

                <!--<app-members-comp></app-members-comp>-->
                <!--<app-attributes-comp *ngIf="attributesClicked"></app-attributes-comp>-->
                <!--<app-hierarchies-comp *ngIf="hierarchiesClicked"></app-hierarchies-comp>-->
                <!--<app-filters-comp *ngIf="filtersClicked"></app-filters-comp>-->
                <!--Pantallas Operations-->
                <!--<app-batch-execution-comp *ngIf="batchExeClicked"></app-batch-execution-comp>-->
                <!--<app-batch-maintenance-comp *ngIf="batchManteClicked"></app-batch-maintenance-comp>-->
                <!--<app-batch-monitor-comp *ngIf="batchMoniClicked"></app-batch-monitor-comp>-->
                <!--Pantallas Migration-->
                <!--<app-import-comp *ngIf="importClicked"></app-import-comp>-->
                <!--<app-export-comp *ngIf="exportClicked"></app-export-comp>-->
                 <!--Pantallas PFT-->
                <!--<app-pft-rule-comp></app-pft-rule-comp>-->
                <!--<app-export-comp *ngIf="allocationModelClicked"></app-export-comp>-->
                <!--<app-export-comp *ngIf="allocationHistoryClicked"></app-export-comp>-->