<div class="step33">
                                <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            Allocation Rule Definition
                                        </div>
                                        <div class="panel-body">
                                            
                                                
                                                   <div class="col-sm-6 box" style="display: block;">
                                                            <div class="row">
                                                                <label class="control-label col-sm-3">Rule Name</label>
                                                                <div class="col-sm-6">    
                                                                    <input type="text" class="form-control" id="input-id-3" placeholder="Rule Name">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <label class="control-label col-sm-3">Rule Description</label>
                                                                    <div class="col-sm-8">
                                                                        <input type="text" class="form-control" id="input-id-4" placeholder="Rule Description">
                                                                    </div>
                                                            </div>
                                            
                                                    </div>
                                                    <div class="col-sm-6 box" style="display: block;">
                                                        <div class="row">
                                                            <label class="col-sm-3 control-label" for="folder">Folder Name</label>
                                                                    <div class="col-sm-6">
                                                                        <select id="folder" name="folder" class="form-control btn-default">
                                                                        <option value="1">Carga</option>
                                                                        <option value="2">Procesamiento</option>
                                                                        </select>
                                                                    </div>
                                                        </div>
                                                    </div>
                                                
                                            
                                        </div>
                                </div>
                                <div class="panel panel-primary">
                                        <div class="panel-heading panel-heading-xs">
                                            Factor Operator
                                        </div>
                                        <div class="panel-body panel-body-xs">
                                                    <div class="col-sm-7 box" style="display: block;">
                                                            <div class="row">
                                                                <label class="control-label col-sm-3">Type</label>
                                                                <div class="control-label ">
                                                                    <label class="radio-inline">
                                                                    <input type="radio" checked="checked" name="inlineRadioOptions" id="inlineRadio1" value="option1"> None
                                                                    </label>
                                                                    <label class="radio-inline">
                                                                    <input type="radio"  name="inlineRadioOptions" id="inlineRadio2" value="option2">Accrual Basis
                                                                    </label>
                                                                    <label class="radio-inline">
                                                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Constant
                                                                    </label>
                                                                    <label class="radio-inline">
                                                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">Both
                                                                    </label>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="panel panel-primary">
                                        <div class="panel-heading panel-heading-xs">
                                            Allocation Operator
                                        </div>
                                        <div class="panel-body panel-body-xs">
                                                    <div class="col-sm-6 box" style="display: block;">
                                                        <div class="row">
                                                            <label class="col-sm-3 control-label" for="folder">Arithmetic Oper</label>
                                                                    <div class="col-sm-6">
                                                                        <select id="folder" name="folder" class="form-control btn-default">
                                                                        <option value="1">*</option>
                                                                        <option value="2">/</option>
                                                                        </select>
                                                                    </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                        
        </div>