<div class="animated fadeIn">
  <!--pantalla crear reglas-->
  <div class="row" >
    <div class="col-lg-12">
      <!-- Nav tabs -->
      <tabset>
        <!--Inicio de regla-->
          <tab>
          <ng-template tabHeading><i class="fa fa-file fa-lg"></i></ng-template>
                  <div class="row">
                      <div class="col-md-6">
                        <div class="card-block">
                              <div class="form-group row">
                                <label class="col-sm-4 form-control-label" for="input-small"><strong>Nombre Regla</strong></label>
                                <div class="col-sm-6">
                                  <input type="text" id="input-small" name="input-small" class="form-control form-control-sm" placeholder="Código Alfanumerico" [(ngModel)]="modelObecjtTL.SHORT_DESC">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-sm-4 form-control-label" for="textarea-input">Descripción</label>
                                <div class="col-sm-6">
                                  <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control form-control-sm" placeholder="Descripción" [(ngModel)]="modelObecjtTL.LONG_DESC"></textarea>
                                </div>
                              </div>
                          </div>
                      </div>
                          <div class="col-md-6">
                                <div class="card-block">
                                   <div class="form-group row">
                                    <label class="col-sm-4 form-control-label" for="select">Carpeta</label>
                                    <div class="col-sm-6">
                                      <select id="select" name="select" class="form-control form-control-sm">
                                        <option template="ngFor let folder of folders">{{folder.folder_name}}</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                          </div>
                      </div>
                        <div class='col-lg-12 '>
                          <hr>
                        </div>
                      <div class="row">
                          <div class="col-md-6">
                                <div class="card-block">
                                    <div class="row">
                                      <label class="col-md-5 form-control-label"><strong>Tipo de Regla</strong></label>
                                      <div class="col-md-7">
                                        <label class="col-md-6 form-control-label"><strong>Descripción</strong></label>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="radio">
                                          <label for="radio1">
                                            <input type="radio"checked="checked" id="radio1" name="radios" value="option1"> Regla Operador Dinamico
                                          </label>
                                        </div>
                                      </div>
                                      <label class="col-sm-5 form-control-label">Chamuyo 1</label>
                                    </div>
                                    <div class="row">
                                      <div class="col-sm-6">
                                        <div class="radio">
                                          <label for="radio1">
                                            <input type="radio" id="radio1" name="radios" value="option2"> Regla Operador Estatico
                                          </label>
                                        </div>
                                      </div>
                                      <label class="col-sm-5 form-control-label">Chamuyo 2</label>
                                    </div>
                                    <div class="row">
                                      <div class="col-sm-6">
                                        <div class="radio">
                                          <label for="radio1">
                                            <input type="radio" id="radio1" name="radios" value="option3"> Regla Valor Constante
                                          </label>
                                        </div>
                                      </div>
                                      <label class="col-sm-5 form-control-label">Chamuyo 3</label>
                                    </div>
                                    <div class="row">
                                      <div class="col-sm-6">
                                        <div class="radio">
                                          <label for="radio1">
                                            <input type="radio" id="radio1" name="radios" value="option4"> Regla hojas
                                          </label>
                                        </div>
                                      </div>
                                      <label class="col-sm-5 form-control-label">Chamuyo 4</label>
                                    </div>
                                  </div>
                          </div>
                      </div>
                      <div class='col-lg-12 '>
                          <hr>
                      </div>
                       <div class="row">
                          <div class="col-md-12">
                                <div class="card-block">
                                  <div class="form-actions">
                                    <button type="submit" class="btn btn-danger btn-sm icon-magnifier"> Guardar</button>
                                    <button class="btn btn-danger btn-sm icon-refresh" type="button"> Cancelar</button>
                                    <button class="btn btn-danger btn-sm icon-refresh" type="button"> Siguiente</button>
                                  </div>
                                </div>
                          </div>
                       </div>
         </tab>
       <!--Fin inicio de regla-->
        <tab>
          <!--Inicio Source-->
          <ng-template tabHeading><i class="fa fa-sign-out fa-lg"></i></ng-template>
                  <div class="row">
                      <div class="col-md-6">
                        <div class="card-block">
                            
                              
                              <div class="form-group row">
                                <label class="col-sm-4 form-control-label" for="input-small"><strong>Nombre Regla</strong></label>
                                <div class="col-sm-6">
                                  <input type="text" id="input-small" name="input-small" class="form-control form-control-sm" placeholder="Código Alfanumerico" [(ngModel)]="modelObecjtTL.SHORT_DESC">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-sm-4 form-control-label" for="textarea-input">Descripción</label>
                                <div class="col-sm-6">
                                  <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control form-control-sm" placeholder="Descripción" [(ngModel)]="modelObecjtTL.LONG_DESC"></textarea>
                                </div>
                              </div>
                              
                          
                          </div>
                      </div>
                          <div class="col-md-6">
                                <div class="card-block">
                                   <div class="form-group row">
                                    <label class="col-sm-4 form-control-label" for="select">Carpeta</label>
                                    <div class="col-sm-6">
                                      <select id="select" name="select" class="form-control form-control-sm">
                                        <option template="ngFor let folder of folders">{{folder.folder_name}}</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                          </div>
                      </div>
                        <div class='col-lg-12 '>
                          <hr>
                        </div>
                      <div class="row">
                      <div class="col-md-6">
                        <div class="card-block">
                            
                              
                               <div class="form-group row">
                                  <label class="col-sm-4 form-control-label" for="select">Nombre Tabla</label>
                                  <div class="col-sm-6">
                                    <select id="select" name="select" class="form-control form-control-sm">
                                      <option template="ngFor let dimension of dimensions">{{dimension.dimension_name}}</option>
                                    </select>
                                  </div>
                                </div>
                               <div class="form-group row">
                                  <label class="col-sm-4 form-control-label" for="select">Nombre Columna</label>
                                  <div class="col-sm-6">
                                    <select id="select" name="select" class="form-control form-control-sm">
                                      <option template="ngFor let dimension of dimensions">{{dimension.dimension_name}}</option>
                                    </select>
                                  </div>
                                </div>
                              
                          
                          </div>
                      </div>
                          <div class="col-md-6">
                                <div class="card-block">
                                    <div class="form-group row">
                                      <label class="col-md-3 form-control-label">Columna/Expresión</label>
                                      <div class="col-md-9">
                                        <label class="radio-inline" for="inline-radio1">
                                          <input type="radio" id="inline-radio1" name="inline-radios" value="option1"> Columna
                                        </label>
                                        <label class="radio-inline" for="inline-radio2">
                                          <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Expresión
                                        </label>
                                      </div>
                                    </div>
                                  
                                </div>
                          </div>
                      </div>
                      <div class='col-lg-12 '>
                          <hr>
                        </div>
                      <div class="row">
                             <div class="card-block">
                                  <table class="table table-bordered table-striped table-sm">
                                    <thead>
                                      <tr>
                                        <th>Codigo Alfanumerico</th>
                                        <th>Codigo Numerico</th>
                                        <th>Nombre</th>
                                        <th>EsHoja</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Vishnu Serghei</td>
                                        <td>2012/01/01</td>
                                        <td>Member</td>
                                        <td>
                                          Member
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Zbyněk Phoibos</td>
                                        <td>2012/02/01</td>
                                        <td>Staff</td>
                                        <td>
                                        Member
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Einar Randall</td>
                                        <td>2012/02/01</td>
                                        <td>Admin</td>
                                        <td>
                                          Member
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Félix Troels</td>
                                        <td>2012/03/01</td>
                                        <td>Member</td>
                                        <td>
                                          Member
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>Aulus Agmundr</td>
                                        <td>2012/01/21</td>
                                        <td>Staff</td>
                                        <td>
                                          Member
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                              </div>
                      </div>
                      <div class='col-lg-12 '>
                          <hr>
                        </div>
                      <div class="row">
                          <div class="col-md-6">
                                <div class="card-block">
                                    <div class="form-group row">
                                      <label class="col-md-3 form-control-label">Tipo de Filtro</label>
                                      <div class="col-md-9">
                                        <label class="radio-inline" for="inline-radio1">
                                          <input type="radio" id="inline-radio1" name="inline-radios" value="option1"> Sin filtro
                                        </label>
                                        <label class="radio-inline" for="inline-radio2">
                                          <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Filtro de dato
                                        </label>
                                        <label class="radio-inline" for="inline-radio2">
                                          <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Filtro de atributo
                                        </label>
                                        <label class="radio-inline" for="inline-radio2">
                                          <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Grupo de filtro
                                        </label>
                                      </div>
                                    </div>
                                  
                                </div>
                          </div>
                      </div>
                      <div class='col-lg-12 '>
                          <hr>
                      </div>
                       <div class="row">
                          <div class="col-md-12">
                                <div class="card-block">
                                  <div class="form-actions">
                                    <button type="submit" class="btn btn-danger btn-sm icon-magnifier"> Guardar</button>
                                    <button class="btn btn-danger btn-sm icon-refresh" type="button"> Cancelar</button>
                                    <button class="btn btn-danger btn-sm icon-refresh" type="button"> Siguiente</button>
                                  </div>
                                </div>
                          </div>
                       </div>
        </tab>
        <!--Fin Source-->
        <!--Inicio Operacion-->
        <tab>
          <ng-template tabHeading><i class="fa fa-cogs fa-lg"></i></ng-template>
                  <div class="row">
                      <div class="col-md-6">
                        <div class="card-block">
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label" for="input-small"><strong>Nombre Regla</strong></label>
                                <div class="col-sm-6">
                                  <input type="text" id="input-small" name="input-small" class="form-control form-control-sm" placeholder="Código Alfanumerico" [(ngModel)]="modelObecjtTL.SHORT_DESC">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-sm-4 form-control-label" for="textarea-input">Descripción</label>
                                <div class="col-sm-6">
                                  <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control form-control-sm" placeholder="Descripción" [(ngModel)]="modelObecjtTL.LONG_DESC"></textarea>
                                </div>
                              </div>
                              
                          
                          </div>
                      </div>
                          <div class="col-md-6">
                                <div class="card-block">
                                   <div class="form-group row">
                                    <label class="col-sm-4 form-control-label" for="select">Carpeta</label>
                                    <div class="col-sm-6">
                                      <select id="select" name="select" class="form-control form-control-sm">
                                        <option template="ngFor let folder of folders">{{folder.folder_name}}</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                          </div>
                      </div>
                        <div class='col-lg-12 '>
                          <hr>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                                <div class="card-block">
                                    <div class="form-group row">
                                      <label class="col-md-3 form-control-label">Tipo de Filtro</label>
                                      <div class="col-md-9">
                                        <label class="radio-inline" for="inline-radio1">
                                          <input type="radio" id="inline-radio1" name="inline-radios" value="option1"> Sin filtro
                                        </label>
                                        <label class="radio-inline" for="inline-radio2">
                                          <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Filtro de dato
                                        </label>
                                        <label class="radio-inline" for="inline-radio2">
                                          <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Filtro de atributo
                                        </label>
                                        <label class="radio-inline" for="inline-radio2">
                                          <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Grupo de filtro
                                        </label>
                                      </div>
                                    </div>
                                  
                                </div>
                          </div>
                      </div>
                      <div class='col-lg-12 '>
                          <hr>
                        </div>
                      <div class="row">
                          <div class="col-md-6">
                                <div class="card-block">
                                    <div class="form-group row">
                                      <label class="col-md-3 form-control-label">Tipo de Filtro</label>
                                      <div class="col-md-9">
                                        <label class="radio-inline" for="inline-radio1">
                                          <input type="radio" id="inline-radio1" name="inline-radios" value="option1"> Sin filtro
                                        </label>
                                        <label class="radio-inline" for="inline-radio2">
                                          <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Filtro de dato
                                        </label>
                                        <label class="radio-inline" for="inline-radio2">
                                          <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Filtro de atributo
                                        </label>
                                        <label class="radio-inline" for="inline-radio2">
                                          <input type="radio" id="inline-radio2" name="inline-radios" value="option2"> Grupo de filtro
                                        </label>
                                      </div>
                                    </div>
                                  
                                </div>
                          </div>
                      </div>
        </tab>
        <!--Fin Operacion-->
        <!--Inicio Driver-->
        <tab>
          <ng-template tabHeading><i class="fa fa-filter fa-lg"></i></ng-template>
                <div class="row">
                      <div class="col-md-6">
                        <div class="card-block">
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label" for="input-small"><strong>Nombre Regla</strong></label>
                                <div class="col-sm-6">
                                  <input type="text" id="input-small" name="input-small" class="form-control form-control-sm" placeholder="Código Alfanumerico" [(ngModel)]="modelObecjtTL.SHORT_DESC">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-sm-4 form-control-label" for="textarea-input">Descripción</label>
                                <div class="col-sm-6">
                                  <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control form-control-sm" placeholder="Descripción" [(ngModel)]="modelObecjtTL.LONG_DESC"></textarea>
                                </div>
                              </div>
                              
                          
                          </div>
                      </div>
                          <div class="col-md-6">
                                <div class="card-block">
                                   <div class="form-group row">
                                    <label class="col-sm-4 form-control-label" for="select">Carpeta</label>
                                    <div class="col-sm-6">
                                      <select id="select" name="select" class="form-control form-control-sm">
                                        <option template="ngFor let folder of folders">{{folder.folder_name}}</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                          </div>
                      </div>
                        <div class='col-lg-12 '>
                          <hr>
                        </div>
        </tab>
        <!--Fin Driver-->
        <!--Inicio OutPut-->
        <tab>
          <ng-template tabHeading><i class="fa fa-file-code-o fa-lg"></i></ng-template>
                  <div class="row">
                      <div class="col-md-6">
                        <div class="card-block">
                            <div class="form-group row">
                                <label class="col-sm-4 form-control-label" for="input-small"><strong>Nombre Regla</strong></label>
                                <div class="col-sm-6">
                                  <input type="text" id="input-small" name="input-small" class="form-control form-control-sm" placeholder="Código Alfanumerico" [(ngModel)]="modelObecjtTL.SHORT_DESC">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-sm-4 form-control-label" for="textarea-input">Descripción</label>
                                <div class="col-sm-6">
                                  <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control form-control-sm" placeholder="Descripción" [(ngModel)]="modelObecjtTL.LONG_DESC"></textarea>
                                </div>
                              </div>
                              
                          
                          </div>
                      </div>
                          <div class="col-md-6">
                                <div class="card-block">
                                   <div class="form-group row">
                                    <label class="col-sm-4 form-control-label" for="select">Carpeta</label>
                                    <div class="col-sm-6">
                                      <select id="select" name="select" class="form-control form-control-sm">
                                        <option template="ngFor let folder of folders">{{folder.folder_name}}</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                          </div>
                      </div>
                        <div class='col-lg-12 '>
                          <hr>
                        </div>
        </tab>
        <!--Fin OutPut-->
      </tabset>
    </div><!--/.col-->
  </div>
</div>
