 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      
       <a class="navbar-brand"><strong class="color-me">LOGO</strong></a>
    </div>
    <ul class="nav navbar-nav">
       <li><a><span class="label"></span> <strong  class="color-me">User name:</strong> <a class="color-me2">Lucas</a></a></li>
       <li><a><span class="label"></span> <strong  class="color-me">As Of Date:</strong> <a class="color-me2">29/07/2016</a></a></li>
       <li><a><span class="label"></span> <strong  class="color-me">Connected to:</strong> <a class="color-me2">PROD</a></a></li>
    </ul>
        
    <ul class="nav navbar-nav navbar-right">
      <li class="color-me"><a href="#"><span class="color-me glyphicon glyphicon-off"></span> <a class="color-me">Logout</a></a></li>
    </ul>
  </div>
</nav>