 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      
       <a class="navbar-brand"><strong>LOGO</strong></a>
    </div>
    <ul class="nav navbar-nav">
       <li><a><span class="label"></span> <strong>User name:</strong> Lucas</a></li>
       <li><a><span class="label"></span> <strong>As Of Date:</strong> 29/07/2016</a></li>
       <li><a><span class="label"></span> <strong>Connected to:</strong> PROD</a></li>
    </ul>
        
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
    </ul>
  </div>
</nav>